#main{
    height:100%;
    width:100%;
    background-image:
    linear-gradient(rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)),
    url("img.jpg");
    background-position:center;
    background-size:cover;
    position:absolute;
}
#inputs{
    width:25rem;
    height:28rem;
    box-shadow:10px 10px 15px coral;
    position: relative;
    margin:6% auto;
    border-radius:1rem;
    font-weight:bolder;
    background-color:#0c1113;
    padding:8px;
    color:white;
    text-align:center;
}
input{
    font-weight:bolder;
    background-color:rgba(255, 248, 248, 0.945);
    border:none;
    padding:10px;
    margin:10px;
    box-shadow:4px 4px 10px white;
    border-radius:9px;

}
p{
    margin-top:15px;
}